{% include "martyrs/header.html" %}
{% if messages %}
    {% for message in messages %}
        <div class="row">
            <!-- Dirty hack -->
            <div class="col-md-6 col-md-offset-3 alert alert-{% if message.tags == 'error' %}danger{% endif %} alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    <form class="add-form" action="" method="post">
        {% csrf_token %}
        {{ add_form.non_field_errors }}

        <div class="form-group col-md-12{% if add_form.name.errors %} has-error{% endif %}">
            <label class="control-label visible-ie8 visible-ie9">{{ add_form.name.label }}</label>

            <div class="input-icon">
                <i class="fa fa-font"></i>
                <input class="form-control placeholder-no-fix" type="text"
                       placeholder="Name" name="name"
                       value="{% if add_form.name.value %}{{ add_form.name.value }}{% endif %}"/>
                {% if add_form.name.errors %}
                    <span class="help-block" for="{{ add_form.name.id_for_label }}">
                            {{ add_form.name.errors.0 }}
                            </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group col-md-6 {% if add_form.date_of_birth.errors %} has-error{% endif %}">
            <label class="control-label visible-ie8 visible-ie9">{{ add_form.date_of_birth.label }}</label>

            <div class="input-icon">
                <i class="fa fa-calendar"></i>
                <input class="form-control placeholder-no-fix" type="text"
                       placeholder="Date of Birth" name="date_of_birth"
                       value="{% if add_form.date_of_birth.value %}{{ add_form.date_of_birth.value |date:'Y-m-d' }}{% endif %}"/>
                {% if add_form.date_of_birth.errors %}
                    <span class="help-block" for="{{ add_form.date_of_birth.id_for_label }}">
                            {{ add_form.date_of_birth.errors.0 }}
                            </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group col-md-6 {% if add_form.date_of_death.errors %} has-error{% endif %}">
            <label class="control-label visible-ie8 visible-ie9">{{ add_form.date_of_death.label }}</label>

            <div class="input-icon">
                <i class="fa fa-calendar"></i>
                <input class="form-control placeholder-no-fix" type="text"
                       placeholder="Date of Death" name="date_of_death"
                       value="{% if add_form.date_of_death.value %}{{ add_form.date_of_death.value |date:'Y-m-d' }}{% endif %}"/>
                {% if add_form.date_of_death.errors %}
                    <span class="help-block" for="{{ add_form.date_of_death.id_for_label }}">
                            {{ add_form.date_of_death.errors.0 }}
                            </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group col-md-6 {% if add_form.officer_name.errors %} has-error{% endif %}">
            <label class="control-label visible-ie8 visible-ie9">{{ add_form.officer_name.label }}</label>

            <div class="input-icon">
                <i class="fa fa-calendar"></i>
                <input class="form-control placeholder-no-fix" type="text"
                       placeholder="Officer Name" name="officer_name"
                       value="{% if add_form.officer_name.value %}{{ add_form.officer_name.value }}{% endif %}"/>
                {% if add_form.officer_name.errors %}
                    <span class="help-block" for="{{ add_form.officer_name.id_for_label }}">
                            {{ add_form.officer_name.errors.0 }}
                            </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group col-md-6 {% if add_form.governorate.errors %} has-error{% endif %}">
            <label class="control-label visible-ie8 visible-ie9">{{ add_form.governorate.label }}</label>

            <div class="input-icon">
                <i class="fa fa-calendar"></i>
                <input class="form-control placeholder-no-fix" type="text"
                       placeholder="Governorate" name="governorate"
                       value="{% if add_form.governorate.value %}{{ add_form.governorate.value }}{% endif %}"/>
                {% if add_form.governorate.errors %}
                    <span class="help-block" for="{{ add_form.governorate.id_for_label }}">
                            {{ add_form.governorate.errors.0 }}
                            </span>
                {% endif %}
            </div>
        </div>

        <div class="form-group col-md-12 {% if add_form.cause_of_death.errors %} has-error{% endif %}">
            <label class="control-label visible-ie8 visible-ie9">{{ add_form.cause_of_death.label }}</label>

            <div class="input-icon">
                <i class="fa fa-calendar"></i>
                            <textarea class="form-control placeholder-no-fix" type="text"
                                      placeholder="Cause of Death" name="cause_of_death">{% if add_form.cause_of_death.value %}{{ add_form.cause_of_death.value }}{% endif %}</textarea>
                {% if add_form.cause_of_death.errors %}
                    <span class="help-block" for="{{ add_form.cause_of_death.id_for_label }}">
                            {{ add_form.cause_of_death.errors.0 }}
                            </span>
                {% endif %}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" id="register-submit-btn" class="btn blue pull-right">
                <i class="fa fa-plus-circle"></i> Update Martyr Record
            </button>
        </div>
    </form>
</div>
{% include "martyrs/footer.html" %}